<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dataTestgenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <dataTestgenerator.Properties.Settings>
            <setting name="apiDashboardUrl" serializeAs="String">
                <value>http://localhost:64412</value>
            </setting>
            <setting name="apiVersion" serializeAs="String">
                <value>apiV1</value>
            </setting>
        </dataTestgenerator.Properties.Settings>
    </userSettings>
</configuration>